*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    height: auto;
    background: url(../images/c-d-x-5qT09yIbROk-unsplash.jpg) fixed no-repeat;
    background-size: cover;
    
  }
  
  
  .title{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin:10px;
  
  }
  
  span{
    color: #6a0dad;
    font-weight: 500;
  }
  
  .intro{
    margin: 20px;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
  }
  
  .container{
    text-align: center;
  }
  
  .links{
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather', serif;
  }
  
  
  a{
    text-decoration: none;
  }
  
  ul{
    margin: 0 180px;
  }
  
  li{
    color: black;
    list-style-type: none;
    padding: 20px;
  }
  
  li:hover{
    font-family:  'Pacifico', cursive;
    font-size: 35px;
    color: #6a0dad;
  }